# Metrics by mobile, web, and cross device

We have two tables. One table has all mobile actions, i.e. all pages visited by the users on mobile. The other table has all web actions, i.e. all pages visited on web by the users.


Write a query that returns the percentage of users who only visited mobile, only web and both. That is, the percentage of users who are only in the mobile table, only in the web table and in both tables. The sum of the percentages should return 1.

### Setup

In [5]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('metrics.db')

In [6]:
import pandas as pd

mobile_df = pd.read_csv('https://raw.githubusercontent.com/data-eng-10-21/interview-questions/main/ds-sql/0-metrics-by-mobile/query_two_mobile.csv')
web_df = pd.read_csv('https://raw.githubusercontent.com/data-eng-10-21/interview-questions/main/ds-sql/0-metrics-by-mobile/query_two_web.csv')

In [7]:
mobile_df[:2]

   user_id           page
0      128  page_5_mobile
1     1324  page_2_mobile

In [11]:
mobile_df.to_sql('mobile_visits', conn, if_exists = 'replace')

In [12]:
web_df.to_sql('web_visits', conn, if_exists = 'replace')

In [14]:
web_visits = pd.read_sql('select * from web_visits limit 2', conn)
web_visits[:2]

   index  user_id        page
0      0     1210  page_1_web
1      1     1275  page_1_web

In [15]:
mobile_df = pd.read_sql('select * from web_visits limit 2', conn)
mobile_df[:2]

   index  user_id        page
0      0     1210  page_1_web
1      1     1275  page_1_web

### Answer


* WEB_ONLY
> 16

* Mobile Only
> 31
* Both 
> 52